#welcome_bloc {
	text-align: center;
	color: #FFF;
	background-color: #FFACA8;
	border: 1px solid #FFACA8;
	height: 100%;
	width: 100%;
}
.biggest {
	font-size: 8em;
} 

#profile {
	height: 15%;	
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

@media only screen and (max-width: 500px) {
	.biggest {
		font-size: 60px;
	} 
}

